@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: whitesmoke;
}

section article {
  background-image: url(../img/ofertasynuevosdos.jpg);
  background-size: cover;
  height: 365px;
  width: 600px;
  margin-bottom: 1em;
  display: flex;
}

.logo-img {
  background-image: url(../img/axiouscdos.jpg);
  background-color: rgb(31, 31, 31);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  display: flex;
}

h1 {
	position: absolute;
	clip: rect(0 0 0 0);
	height: 0;
	width: 0;
	overflow: hidden;
}

.flex-contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.flex-contenedor-catalogo {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.nuevos-ofertas {
  color: whitesmoke;
  background-color: rgb(31, 31, 31);
  width: 500px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 5px;
  padding: 10px 0;
}

.mas-vendidos {
  color: whitesmoke;
  background-color: rgb(31, 31, 31);
  width: 500px;
  text-align: center;
  margin-bottom: 1em;
  padding: 10px 0;
}

.articulos-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.boton-busqueda {
  display: inline-block;
  margin-top: 2em;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  border-radius: 50px;
  padding-inline: 10px;
  border-style: none;
}

.flex-nav {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
}
.flex-nav nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 4em;
}

.flex-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.nav {
  color: whitesmoke;
  background-color: rgb(31, 31, 31);
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1em;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: whitesmoke;
}
.nav li a:hover {
  text-decoration: underline;
  color: chocolate;
}
.nav ul {
  list-style: none;
}

.card {
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.tamaño-imagen-catalogo {
  width: 70%;
}

.tamaño-imagen-carrito {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 10px;
  align-items: center;
  padding-top: 1em;
}

.tabla-carrito {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.carrito-general {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titulo-tabla-carrito {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-bottom: 1em;
}

.carrito-añadidos {
  display: flex;
  flex-direction: column;
  gap: 8em;
}
.carrito-añadidos .boton {
  margin-bottom: 0;
}
.carrito-añadidos td {
  padding-inline: 5px;
}

.precio-total-tabla {
  display: flex;
  margin-top: 4em;
  justify-content: flex-start;
}

.parrafo {
  display: flex;
  padding-inline: 1em;
}

.preguntas-nosotros {
  display: flex;
  margin-left: 15em;
  margin-right: 15em;
}

.boton {
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  display: flex;
  margin-bottom: 1em;
  font-size: 1.2em;
  cursor: pointer;
  transition: 0.3s ease all;
  border: none;
  border-style: none;
  padding: 5px 5px;
  position: relative;
  overflow: hidden;
}
.boton::after {
  content: "";
  width: 100%;
  height: 100%;
  background: chocolate;
  position: absolute;
  z-index: 1;
  top: -80px;
  left: 0;
  transition: 0.3s ease-in-out all;
}
.boton:hover::after {
  top: 0;
}
.boton span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}

.boton-carrito {
  margin-left: 1em;
  margin-top: 1em;
  margin-left: 37%;
}

.carrito-label {
  margin-left: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 2em;
}

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactos {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 15em;
  margin-left: 15em;
}

.contactos-titulo {
  padding-bottom: 1em;
}

form {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 400px;
  width: 100%;
}

label {
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

textarea {
  margin-bottom: 10px;
}

.boton-enviar {
  display: flex;
  margin-left: 5em;
  font-size: 1em;
  margin-left: 15em;
}

.foot-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  width: 100%;
  background-color: rgb(31, 31, 31);
  flex-wrap: wrap;
}

.footer {
  display: flex;
  color: whitesmoke;
  background-color: rgb(31, 31, 31);
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer li {
  padding: 30px;
  display: flex;
  list-style: none;
}
.footer li a {
  text-decoration: none;
  color: whitesmoke;
}
.footer li a:hover {
  text-decoration: underline;
  color: chocolate;
}

a:visited {
  text-decoration: none;
  text-decoration: none;
  color: whitesmoke;
  color: whitesmoke;
}

.pagos {
  color: whitesmoke;
  font-size: 25px;
  background-color: rgb(31, 31, 31);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagos-img {
  width: 600px;
}

@media screen and (max-width: 480px) {
  section article {
    background-image: url(../img/ofertasynuevosdos.jpg);
    background-size: cover;
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
  }
  .logo-img {
    background-image: url(../img/axiouscdos.jpg);
    background-color: rgb(31, 31, 31);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 400px;
    width: 100%;
    display: flex;
  }
  .section-busqueda {
    font-weight: 700;
    margin-top: 1em;
  }
  .nuevosimg {
    display: flex;
    width: 100%;
  }
  .articulos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .flex-contenedor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  h3 {
    text-align: center;
    align-items: center;
  }
  .nuevos-ofertas {
    color: whitesmoke;
    background-color: rgb(31, 31, 31);
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 5px;
    display: flex;
    padding: 10px 0;
  }
  .mas-vendidos {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 10px 0;
    margin-bottom: 1em;
  }
  .flex-nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }
  .flex-nav nav ul {
    display: flex;
    gap: 1em;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .flex-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .nav {
    color: whitesmoke;
    background-color: rgb(31, 31, 31);
    width: 100vw;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-bottom: 5px;
    display: flex;
  }
  .nav ul {
    align-items: center;
    list-style: none;
    display: flex;
  }
  .nav li {
    list-style: none;
    display: flex;
  }
  .nav li a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
  }
  .nav li a:hover {
    text-decoration: underline;
    color: chocolate;
    display: flex;
  }
  .card {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-bottom: 1em;
  }
  .vendidos-imagen {
    width: 350px;
  }
  .parrafo {
    display: flex;
    padding-inline: 1em;
  }
  .footer {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgb(31, 31, 31);
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .footer li {
    display: flex;
    list-style: none;
    display: flex;
  }
  .footer li a {
    text-decoration: none;
    color: whitesmoke;
    display: flex;
  }
  .footer li a:hover {
    text-decoration: underline;
    color: chocolate;
    display: flex;
  }
  .foot-flex {
    flex-direction: column;
    margin-top: 2em;
  }
  .imagen-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a:visited {
    text-decoration: none;
    text-decoration: none;
    color: whitesmoke;
    color: whitesmoke;
    display: flex;
    display: flex;
  }
  .pagos {
    color: whitesmoke;
    font-size: 25px;
    background-color: rgb(31, 31, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .pagos-img {
    width: 95%;
    display: flex;
    margin-bottom: 1em;
  }
  .carrito-general {
    display: flex;
    flex-wrap: wrap;
  }
  .titulo-tabla-carrito {
    padding: 0;
    padding-left: 5px;
  }
  .tamaño-imagen-carrito {
    width: 300px;
  }
  .carrito-añadidos td {
    padding-inline: 6px;
  }
  .preguntas-nosotros {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    list-style: none;
    text-decoration: none;
  }
  .faq-pregunta {
    display: flex;
    margin-top: 1em;
  }
  .contactos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }
  .boton-enviar {
    display: flex;
    margin-left: 0;
    font-size: 2em;
    margin-left: 1.3em;
  }
  .boton {
    padding: 5px 5px;
    border-style: none;
  }
  .boton-busqueda {
    padding: 5px 5px;
    border-style: none;
  }
}

/*# sourceMappingURL=styles.css.map */
